MARIADB_USER=bn_moodle
MARIADB_PASSWORD=moodle_db_pass
MARIADB_DATABASE=bitnami_moodle
MARIADB_ROOT_PASSWORD=moodle_root_pass

MOODLE_USERNAME=admin
MOODLE_PASSWORD=adminpass123
MOODLE_EMAIL=admin@example.com

OPENAI_API_KEY=sk-placeholder
OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_MODEL=gpt-4o-mini

GEMINI_API_KEY=AIzaSy_placeholder

MAPEO_API_TOKEN=changeme

# Token de acceso para administrador (creación de usuarios y salas en Matrix)
MATRIX_ACCESS_TOKEN=changeme

# Usuario del Bot que se invitará automáticamente a todas las salas (Maubot)
MATRIX_BOT_USER=@llm_wiki_bot:localhost
